@charset "UTF-8";

Body{
    background-color: rgb(205, 255, 203);
}

h1{
    color:rgb(4, 109, 0) ;

}

h1#principal{
    color:rgb(4, 109, 0) ;
    text-align: center;
}

h2{
    color: rgb(94, 122, 92)  ;
}

.basico{
    color: rgb(98, 117, 81);
}

.intermediario{
    color:rgb(121, 121, 0) ;
}

.avançado{
    color: rgb(121, 0, 0) ;
}