@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: purple;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    margin: auto;
    width: 100vw;
    height: 100vh;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    box-shadow: 0px, 0px, 10px rgba(0, 0, 0, 0.527);
    width: 250px;
    height: 500px;
    border-radius: 20px;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%,-50%);
}

div#imagem{
    display: block;
    background: url(../imagens/back-print.jpg);
    background-size: cover;
    height: 200px;
}

div#formulario{
    display: block;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > h1{
    text-align: center;
}

div#formulario > p{
    text-align: center; 
    font-size: 0.8em;  
}

form > div.campo{
    background-color: purple;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px ;
}

div.campo > i{
    float: left;
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input:focus-within{
    background-color: white;
}

div.campo > input{
    float: right;
    background-color: rgb(71, 146, 111);
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: none;
    border-radius: 8px;
    margin-top: 8.5px;
    transform: translateY(-12px);
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(71, 146, 111);
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover{
    background-color:  rgb(53, 112, 84) ;
    cursor: pointer;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
    padding-top: 7px;
    width: 100%;
    height: 40px;
    background-color: white;
    color: rgb(53, 112, 84);
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: rgb(110, 224, 171);
}

div.campo > label{
    display: none;
}





